---
import { getCollection } from 'astro:content';

// 1. Generate a new path for every collection blog post
export async function getStaticPaths() {
  const all_posts = await getCollection('blog');
  return all_posts.map(blog_post => ({
    params: { slug: blog_post.slug }, props: { blog_post },
  }));
}
// 2. When it's time to render, you can get the blog post directly from the prop
const { blog_post } = Astro.props;
const { Content } = await blog_post.render();
---
<h1>{blog_post.data.title}</h1>
<Content />
