---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "coopa";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    cringe
  </div>
</BaseLayout>

<style>
  .container {
    
  }
</style>