---
import Social from "./Social.astro";
---

<footer>
    <a href="/blog/">⟵</a>
    <Social platform="twitter" username="coopa_2" />
    <Social platform="github" username="Co0p4h" />
    <Social platform="youtube" username="@cut-off" />
</footer>

<style>
    footer {
        /* position: absolute; */
        /* bottom: 0; */
        /* left: 0; */
        text-align: center;
        width: 100%;
        /* background-color: white; */
    }
</style>

