---
const links = [
    // ['projects', '/projects/'],
    // ['thoughts', '/blog/'],
    ['writings', '/writing/'],
    ['tags', '/tags/'],
    ['about', '/about/'],
];

---
<nav>
    <h1><a href="/">coopa</a></h1>
    <ul>
        {links.map((link) => (
            <li><a href={link[1]}>{link[0]}</a></li>
        ))}
    </ul>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<script>
    import "../scripts/menu.js";
</script>

<style>
    nav {
        max-width: 1300px;
        min-height: 50px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.2rem;


        /* top: 0; */
        /* position: fixed; */
    }

    /* hamburger nav */
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
        align-items: center;
    }

    nav ul a {
        color: #000;
        cursor: pointer;
        margin: 0 1.4rem;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    h1 {
        color: #000;
        font-size: 2rem;
        font-weight: 500;
        /* letter-spacing: 0.15rem; */
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .hamburger {
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 7px;
        background-color: black;
    }

    .expanded {
        display: unset;
    }

    /* on screens that are 400px or more */
    @media screen and (min-width: 650px) {


    /* normal nav */
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
        }

        .hamburger {
            display: none;
        }
    }
</style>
