---
interface Props {
    platform: string;
    username: string;
}

const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        font-size: 1rem;
        color: black;
    }

    @media screen and (max-width: 650px) {
        a {
            font-size: .8rem;
        }
    }
</style>