---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io_2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io_2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io_2/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io_2/site.webmanifest">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div>
      <slot />
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    /* background-color: rgb(204, 230, 230); */
    /* position: relative; */
    display: flex;
    flex-direction: column;
  }

  div {
    flex: 1;
    /* background-color: rgb(99, 99, 123); */
    /* max-width: 60vw; */
    /* height: auto; */
    /* width: 500px; */
    /* margin: 2rem; */
    margin: 0rem 10% 4rem;
    padding: 0rem 2rem 4rem;
    /* margin: 0rem 2.5rem 4rem; */
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
</style>
