---
import "@fontsource/source-code-pro"        
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io_2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io_2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io_2/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io_2/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator} />
    <title>coopa | {pageTitle}</title>
  </head>
  <body>
    <Header />
    <div>
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: "Source Code Pro";
    min-height: 100svh;
    padding: 0;
    margin: 0;
    /* background-color: rgb(204, 230, 230); */
    position: relative;
    display: flex;
    flex-direction: column;
    
    -webkit-text-size-adjust: 100%;

    /* width: 100%; */
  }

  /* main body content style */
  div {
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 40rem;
  }
</style>
