---
import { getCollection } from "astro:content";
import BlogPostCard from "../../components/BlogPostCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const all_posts = await getCollection('blog');

// const tags = [...new Set(all_posts.map((post) => post.data.tags).flat())];

const pageTitle = "writing";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>this si msy writ eing</h2>
    <p><i>"very cool quote..."</i></p>
    <div>
        {all_posts.map(post => (
            <BlogPostCard {...post}/>
            <BlogPostCard {...post}/>
        ))}
    </div>

    <a href="1">more</a>

    <!-- <p>browse by tag: </p>
    <ul>
    {tags.map((tag) => (
        <li><a href={`/tags/${tag}`}>{tag}</a></li>
    ))}
    </ul> -->
</BaseLayout>

<style>
    div {
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem; */
        display: flex;
        flex-wrap: wrap;
    }
    
</style>